@inherits LayoutComponentBase

<div class="page">
    <div style="position:relative;margin-top:20px">
        <button class="secondary-toggle" @onclick="NavToggle"><i class="fa @(ShowSecondary ? "fa-close" : "fa-bars")"></i></button>
    </div>
    <div class="secondary @(ShowSecondary ? "show-sec" : "hide-sec")">
        <div class="sticky-top sticky-offset overflow-auto">
            <NavMenu />
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool ShowSecondary { get; set; } = true;

    public void NavToggle()
    {
        ShowSecondary = !ShowSecondary;
    }
}

