@inject NavigationManager Navigation
<div class="flex-shrink-0 p-3 bg-white" style="width: 350px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <img src="images/logo.png" style="height:50px;max-width:100%">
        <span class="fw-semibold p-2" style="font-size:larger;">Catherine Elliott</span>
    </a>
    <ul class="list-unstyled ps-3">
        <li class="fw-light mb-1" disabled>
            Artwork
            <ul class="list-unstyled ps-3">
                <li class="link-dark rounded text-decoration-none fw-normal li-clickable" @onclick=@(() => NavigateToArtwork("pencil"))>-Pencil</li>
                <li class="link-dark rounded text-decoration-none fw-normal li-clickable" @onclick=@(() => NavigateToArtwork("pen"))>-Pen</li>
                <li class="link-dark rounded text-decoration-none fw-normal li-clickable" @onclick=@(() => NavigateToArtwork("mixed"))>-Mixed media</li>
                <li class="link-dark rounded text-decoration-none fw-normal li-clickable" @onclick=@(() => NavigateToArtwork("procreate"))>-Digital</li>
                <li class="link-dark rounded text-decoration-none fw-normal li-clickable" @onclick=@(() => NavigateToArtwork("watercolour"))>-Watercolour</li>
            </ul>
        </li>
        <li><a href="/contact" class="link-dark rounded text-decoration-none ">Contact</a></li>
    </ul>
</div>
@*FF4045
0097AC*@
@code {
    public void NavigateToArtwork(string type)
    {
        Navigation.NavigateTo($"artwork/{type}");
    }
}